body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(41, 69%, 80%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 320px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 15px;
    font-size: 2.5rem;
    text-align: left;
    border: 0px;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 15px;
}    

button{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(35, 100%, 75%);
}

button:active{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn{
     background-color: hsl(35, 100%, 55%);
}